<div class="container" style="background-color: #dadada;">
    <div class="row" style="background-color: #dadada;">        
        <div class="col-12 col-sm-12 col-md-12 col-lg-12" style="text-align: center; background-color: #dadada;">
            <img id="img_desktop" src="./../../assets/img/MENSAJE-DE-ERROR-WEB-DESKTOP.jpg" style="width: 100%; display: none;">
            <img id="img_mobile" src="./../../assets/img/MENSAJE-DE-ERROR-WEB-MOBILE.jpg" style="width: 100%; display: none;">
        </div>
    </div>
</div>