<div style="height: auto;">
    <div style="margin-top: 2%; margin-left: 5%;">
        <div id="titulo" style="font-size: 32px; color: #ffffff; display: flex; justify-content: left; align-items: center;">
            <i class="fad fa-exclamation-circle"></i> &nbsp; {{sub_titulo}} &nbsp; <font style="font-size: 15.5px;">{{datosStorageErrorPos}}</font>
        </div>
        <br>
        <div style="width: 95%; padding-bottom: 2%; border-radius: 30px; background-color: #ffffff; box-shadow: 2px 10px 18px -4px rgba(0, 0, 0, 0.50);">
            <div style="display: flex; justify-content: center; align-items: center; padding-top: 18px;">
                <div id="columna_1" class="column" style="float: left; width: 38%; height: auto; text-align: center;">
                    <font style="color: #c5c5c5; font-size: 172px; font-weight: bold;">!UPS!</font><br> 
                    <font style="color: #c5c5c5; font-size: 94px; font-weight: bold;">algo salió mal :(</font>
                </div> 
                <div id="columna_2" class="column" style="width: 40%; height: 732px; padding-left: 7%; padding-top: 1%; position: relative; overflow: auto;">
                    <br><br><br><br><br><br>

                    <div style="font-size: 32px; font-weight: bold; color: #494949;">OPERACIÓN RECHAZADA</div> <br>
                    <div style="font-size: 17px; color: #a2a2a2;">Queremos ayudarte, posibles motivos de la compra rechazada:</div> <br>

                    <div style="font-size: 17px; color: #a2a2a2;">* Revisa tu correo previamente.</div>
                    <div style="font-size: 17px; color: #a2a2a2;">* Tarjeta caducada o sin saldo disponible.</div>
                    <div style="font-size: 17px; color: #a2a2a2;">* Tarjeta no apta para compras web (comunicarte con tu banco).</div>
                    <div style="font-size: 17px; color: #a2a2a2;">* Llenado de datos incorrecto.</div>
                    <div style="font-size: 17px; color: #a2a2a2;">* Tiempo de compra expirado.</div>

                    <br>

                    <button style="width: 85%; height: 8%; background-color: #494949; color: white; border: none; font-size: 20px;" (click)="regresar_home()">REGRESAR A PÁGINA PRINCIPAL</button>
                </div>
            </div>
        </div>
    </div>

    <div id="dato_inferior_izquierda" style="color: #ffffff; position: absolute; bottom: 3%; margin-left: 5.5%; display: flex; align-items: center;">
        <i class="fab fa-facebook-f" style="margin-right: 1px;"></i>&nbsp;
        <i class="fab fa-instagram" style="margin-right: 1px;"></i>&nbsp;
        <img src="../../assets/img/iconos/tiktok.png" style="width: 2.2%; filter: invert(100%) sepia(0%) saturate(1000%) hue-rotate(329deg) brightness(200%) contrast(98%);">&nbsp;&nbsp;
        <font>@movilbus.pe</font>
    </div>
    <div id="dato_inferior_derecho" style="color: #ffffff; position: absolute; bottom: 3%; margin-left: 88.5%;">
        www.movilbus.pe
    </div>

    <div id="dato_superior_derecho" style="color: #ffffff; position: absolute; top: 4%; margin-left: 88.5%; text-align: center;">
        <img src="../../assets/img/LOGOTIPO BUS A COLOR RGB-01.png" style="height: 2.3em; width: 8em;"><br>
        <font style="font-style: italic; font-size: 13px;">Moviendo al Perú</font>
    </div>
</div>